html{
    height:100%;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial,Helvetica, sans-serif;
}


.centrale{
    padding-bottom: 90px;
    width: 550px;
    height: 600px;
    background-color: white;
    opacity:0.9;
    filter:alpha(opacity=90); 
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    
}

.centrale-2{
    padding-bottom: 90px;
    width: 650px;
    height: 600px;
    background-color: white;
    opacity:0.9;
    filter:alpha(opacity=90);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    
}


.lien{
    width: auto;
    clear: both;
}

#menu{
    width: auto;
    clear: both;
    background-color: white;
}

img.background1 {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

img.background2 {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

img.background3 {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

.footer{
	  min-width: 100%;
	  height: 25px;
	  background-color: white;
    position: absolute; bottom: 0; left: 0; right: 0
    
}

.agricoil{
    width: 90%;
    height: 60%;
    margin-right: auto;
    margin-left: 5%;
    margin-top: 1%;
}

.marque{
    width: 50%;
    height: 50%;
    float: left;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.ecusson{
    width: 90%;
    float: left;
    margin-left: 7%;

}

.type{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    width: 50%;
    height: 100%;
    float: right;
}

.text{
    text-align: left;
    height: 50%;
    width: 45%;
    float: right;
    margin-top: 2%;
    margin-left: 4%;
    font-size: .9em;
}

.produit{
    margin-top: 6%;
    margin-bottom: 5%;
    float: right;
    width: 45%;
    height: 100%;
    display: inline;
}

#text-prod{
    margin-right: 5%;
}

.fiche{
    margin-top: 3%;
    margin-bottom: 11%;
    margin-right: 3%;
    float: right;
    width: 47%;
    height: 95%;
}

.fiche img{
    width: 80%;
    height: 100%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img.huile{
    margin-left: auto;
    margin-right: auto;
}

.centrage{
    text-align: center;
}

.droite{
    float: right;
    margin-top: 2%;
    
}

.gauche{
    float: left;
    margin-top: 2%;
    
}

.bouton{
    margin-top: 7%;
}

#inputname{
    margin-top: 2%;
    margin-bottom: 1%;
}

#inputemail{
    margin-top: 2%;
    margin-bottom: 1%;
}

#inputtel{
    margin-top: 2%;
    margin-bottom: 1%;
}

#inputmessage{
    margin-top: 2%;
    margin-bottom: 1%;
}

.menu a{
    text-align:center;
    text-decoration:none;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25%;
}

.lien a{
    text-align:center;
    text-decoration:none;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25%;
}

.lien a:hover{
    color:  #fe7314;
}

a{
    color: #696969;
    font-family: Arial,Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
} 

 a:hover{
    color:  #fe7314;
}

ol,li{
    list-style-type: none;
    margin-right: 5%;
}   

figure{
    display: inline-block;
    width: 50%;
}

figcaption{
    display: inline;
}

h2{
    text-align: center;
    color:  #fe7314;
    font-size: 1.6em;
}

h3{
    text-align: center;
    color:  #fe7314;
    font-size : 1em; 
}

label{
  margin-top: 2%;
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
   
    .centrale2 {
  width: 30%;
  height: 70%;
  opacity:0.9;
  filter:alpha(opacity=90);
  background-color: white; 
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  margin-top: 50%;
              }
        

}

/* ----------- Galaxy S4 ----------- */
/* ----------- HTC One ------------- */
/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}


/* ----------- iPad mini -------------- */
/* ----------- iPad 1 and 2 ----------- */
/* ----------- iPad 3 and 4 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}


/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
    
}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}


/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

